{% extends 'base.html.twig' %}

{% block title %}Liste des pizzas{% endblock %}

{% block body %}
     {{ include('_menu.html.twig') }}

    <h1> Liste des pizzas: </h1>

     {% for pizza in pizzas %}
        <h3> {{ pizza.name }} </h3>
        <p> prix: {{ pizza.price }} </p>
        <a href="{{ path('app_pizza_update', {id: pizza.id })}}"> Modifier </a>
        <a href="{{ path('app_pizza_remove', {id: pizza.id })}}"> Supprimer </a>
     {% endfor %}


{% endblock %}